*.log
*.tmp
*.db
*.ini
*.zip
*.rar
*.tar
*.gz
.*
*.dev.js
!.gitignore
!.eslintrc*
!.eslintignore
!.babelrc
!.flowconfig
!.vscode
!.browserslistrc
!.npmignore
!.prettierrc.js
!.prettierignore
Icon
node_modules
_*
